# Google Gemini API Key
GOOGLE_API_KEY=your_google_api_key

# Pinecone API Key
PINECONE_API_KEY=your_pinecone_api_key

# Pinecone Index
PINECONE_INDEX_NAME=agentic-ai-rag

# Gemini Chat Model
CHAT_MODEL=gemini-flash-latest

# Gemini Embedding Model
EMBEDDING_MODEL=gemini-embedding-2-preview

# Number of retrieved chunks
TOP_K=4