# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/