# ==========================
# LLM & LangChain
# ==========================
langchain==1.0.3
langchain-community==0.4.2
langchain-text-splitters==1.0.0
langgraph==1.0.2
langchain-google-genai==4.3.1

# ==========================
# Vector Database
# ==========================
pinecone==9.1.0

# ==========================
# API
# ==========================
fastapi==0.116.1
uvicorn==0.35.0

# ==========================
# UI
# ==========================
streamlit==1.48.1

# ==========================
# PDF Processing
# ==========================
pymupdf==1.26.3

# ==========================
# Environment Variables
# ==========================
python-dotenv==1.1.1

# ==========================
# Data Validation
# ==========================
pydantic==2.11.7

# ==========================
# Token Counting
# ==========================
tiktoken==0.11.0